$light-gray: #777;
$color_white: white;
$yellow-darker: #f4ed16;
$gray-medium-light: #eaeaea;
$gray-light:#555;
$gray-lighter: #bbb;
$gray-darker:#222;
$color_red: red;
$color_g4: #e8e8e8;
$color_blue: blue;
$color_yellow: yellow;
$color_black: black;
$gray-darker: #999999;

